body{
     background-color: black; 
   text-align: center; 
    font-size: 20px;
    color: blanchedalmond;
   
}

nav{
    float: right;
    
    margin: 60px 20px;
}

nav a{
    color: white;
    overflow: hidden;
    text-decoration: none;
    padding: 10px;
}


img.img1{
margin-top: 200px;
margin-left: 340px;
padding-top: 50px;
border-radius: 100px;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section.section2{
 background-color: rgb(17, 71, 42);
  border-radius: 50px;
  padding-bottom: 200px;
}
.greet{
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    color: yellow;
   
}
.greet p{
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}
.section3 div{
  background-color: white;
  height: 200px;
  width: 450px;
  border-radius: 20px;
  border: 1px solid gray;
}

.section3{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -150px;
}
.btn{
    color: black;
    border: solid red;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    align-items: center;
}
button:hover{
    opacity: 0.8;
}
  
.proj1{
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    padding: 20px;
    float: left;
    
     
}
.proj1:hover{
    opacity: 0.8;
}


.text_decoration{
    
    color: rgb(27, 27, 27);
    font-size: 90px;
    font-weight: bold;
   
}
.text_mydecoration{
 font-size: 45px;
 margin-left: -250px;
 font-weight: bold;
 
}
.newproj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer{
    background-color: cadetblue;
    /* padding: 400px; */
}

.footer_box div{
  background-color:white;
  height: 410px;
  width: 650px;
  border-radius: 20px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}


.footer_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: center;
} 
.footer_box1{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#btn{
    margin-top: 5px;
   
}
input[type=email], input[type=text] {
    width: 60%;
    padding: 12px 0;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }



.fab:hover{
    opacity: 0.8;
}
  


/* @media (max-width:800px){
 .section3{
     display: flex;
     flex-direction: column;
     margin-left: 2vw;
     margin-right: 2vw;
     align-items: center;
 }    
.section3 div{
    height: 40vh;
    width: 70vw;

}

} */