body{
    background-color: black; 
  text-align: center; 
   font-size: 20px;
   color: blanchedalmond;
  
}

nav{
   float: right;
   
   margin: 60px 20px;
}

nav a{
   color: white;
   overflow: hidden;
   text-decoration: none;
   padding: 10px;
   
}
/* .section1{
   display: flex;
   flex-direction: column;
} */

img{
margin-top: 200px;
margin-left: 370px;
padding-top: 50px;
border-radius: 100px;

}

h2{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section.section2{
background-color: rgb(17, 71, 42);
 border-radius: 50px;
 padding-bottom: 200px;
}
.greet{
   /* padding-left: 20px; */
   /* margin-top: 20px;
   margin-left: 20vw;
   margin-right: 20vw; */
   /* padding-top: 20px; */
   color: yellow;
  
}
.greet p{
   /* margin-left: 200px;
   margin-right: 200px; */
   text-align: justify;
}
.section3 div{
 background-color: white;
 height: 200px;
 width: 450px;
 border-radius: 20px;
 border: 1px solid gray;
}

.section3{
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: -150px;
}
.btn{
   color: black;
   border: solid red;
   background-color: beige;
   border-radius: 15px;
   font-weight: bold;
   font-size: 15px;
   padding: 15px;
   align-items: center;
}
button:hover{
   opacity: 0.8;
}
 
.proj1{
   border-style: solid;
   border-radius: 50px;
   border-color: black;
   padding: 20px;
   float: left;
   margin-left: 20px;
   margin-top: -10px;
    
}
.proj1:hover{
   opacity: 0.8;
}


 /* .text_decoration{
   
   color: rgb(27, 27, 27);
   font-size: 90px;
   font-weight: bold;
   
}  */
 .text_mydecoration{
font-size: 45px;
/* margin-left: -250px; */
padding: 200px;
font-weight: bold;

} 
.newproj{
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}

footer{
   background-color: cadetblue;
   /* padding: 400px; */
}

.footer_box div{
 background-color:white;
 border-radius: 20px;
 border: 1px solid black;
 align-items: center;
 justify-content: center;
}


.footer_box{
   display: flex;
   flex-direction: column;
   justify-content: center; 
    padding: 50px;
   align-items: center;
} 
.footer_box1{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#btn{
   margin-top: 5px;
  
}
 input[type=email], input[type=text] {
   
   width: 100%;
   padding: 12px 0;
   margin: 5px 0;
    display: inline-block; 
   border: 1px solid #ccc;
   box-sizing: border-box;
 }
 #Message{
   height: 25vh;
   width: 30vw;
}

#mail{
    font-size: 50px;
}
.fab:hover{
   opacity: 0.8;
}

#icon1{
   color: black;
   padding-right: 20px; font-size: 50px;
   overflow: hidden; 
   text-decoration: none;
}

#icon{
   color: black;
   padding-right: 20px; font-size: 50px;
   overflow: hidden; 
   text-decoration: none;
}
#icon4{
  float: right;
   color: black;
    font-size: 60px;
   overflow: hidden; 
   text-decoration: none;
}




@media (max-width:800px){

.text_mydecoration{
    font-size: 45px;
    padding: 200px;
    font-weight: bold;
    margin-right: -150px;
    
    } 

 .newproj{
   display: flex;
    flex-direction: column; 
   justify-content: center;   
} 

.proj1{
   border-style: solid;
   border-radius: 50px;
   border-color: black;
   /* padding: 20px; */
   /* float: left; */
    width: 80vw;
    margin-top: 2px;
    margin-left: 30px;
}

.contform{
   width: 80vw;
   padding-left: 12px 0;
   margin: 5px 0;
   /* display: inline-block; */
   border: 1px solid #ccc;
   /* box-sizing: border-box; */
 }
 .text_decoration{
   
   color: rgb(27, 27, 27);
   font-size: 50px;
   font-weight: bold;
  
}
.text_mydecoration{
font-size: 30px;
margin-left: -155px;
font-weight: bold;
}

input[type=email], input[type=text] {
   
   width: 100%;
   padding: 0;
   margin: 5px 0;
   margin-left: 15px;
   margin-right: 15px;
    display: inline-block; 
   border: 1px solid #ccc;
   box-sizing: border-box;
 }
 #Message{
   height: 15vh;
   width: 49vw;
}

img{
   /* margin-top: 200px;
   margin-left: 370px;
   padding-top: 50px; */
   width: 30%;
   margin-left: 2px;
   border-radius: 100px;
   
   }

   

   /* #icon{
      margin-right: 5px;
      color: black;
      font-size: 30px; 
      overflow: hidden; 
      text-decoration: none;
   } */
   #icon4{
      float: right;
      color: black;
      font-size: 30px;
      overflow: hidden; 
      text-decoration: none;
   }
   #icon{
      
      color: black;
      font-size: 30px; 
      
   }
   
}